.hero {
  position: relative;
  height: 100vh;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.overlay {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.hero-content {
  position: relative;
  z-index: 2;
  color: white;
  padding: 20px;
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 1.5s ease-out, transform 1.5s ease-out;
}
.hero-content.fade-in {
  opacity: 1;
  transform: translateY(0);
}
.hero-content h1 {
  font-size: 3.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.hero-content p {
  font-size: 1.85rem;
  margin-bottom: 2rem;
}

.hero-buttons {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.btn {
  padding: 2vh 3vw;
  border: none;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
}

.learn-more {
  background-color: #FCAF3B; /* amber-400 */
  color: black;
}

.contact-us {
  background-color: #fff;
  color: #FCAF3B; /* amber-500 */
}
/* Hover Effects */
.btn:hover {
  transform: scale(1.05);
  transition: all 0.3s ease;
}

.learn-more:hover {
  background-color: #e0a926; /* slightly darker amber */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.contact-us:hover {
  background-color: white;
  color: #FCAF3B;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

@media (max-width:1358px){
  .hero-content h1{
    font-size: 3rem;
  }
  .hero-content p{
    font-size: 1.25rem;
  }
}
@media (max-width:650px){
  .hero{
    height: auto;
    padding:5vh 5vw;
  }
  .hero-content h1{
    font-size: 1.75rem;
  }
  .hero-content p{
    font-size: 0.75rem;
  }
}